* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f1f1f1;
  margin: 0;
  color: #222;
}

.container {
  max-width: 950px;
  margin: 30px auto;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.header {
  background: linear-gradient(#c608f6, #0066f5);
  padding: 55px 70px 50px;
  text-align: center;
}

.header h1 {
  color: white;
  font-size: 42px;
  margin: 0 0 30px;
  letter-spacing: 2px;
}

form {
  display: flex;
  gap: 30px;
}

input {
  flex: 1;
  padding: 18px 24px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: bolder;
  font-size: 16px;
}

form button {
  background: white;
  color: #333;
  padding: 0 30px;
  border-radius: 6px;
}

.task-section {
  padding: 28px 18px 35px;
}

.task-section h2 {
  text-align: center;
  margin-bottom: 28px;
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: rgb(216, 216, 216);
  margin-bottom: 16px;
  padding: 18px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  border-radius: 10px;
}

li div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.done span {
  text-decoration: line-through;
  color: rgb(119, 119, 119);
  font-size: italic;
}

li button:nth-child(1) {
  color: rgb(0, 255, 38);
}

li button:nth-child(2) {
  color: rgb(14, 163, 255);
}

li button:nth-child(3) {
  color: rgb(255, 27, 27);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 15px;
  color: #777;
}
